.pdd2 {
    width: 800px;
    height: 800px;
}

h1 {
    color: black;
    background-color: brown;
}

.baidu {
    color: red;
    font-size: 50px;
    text-decoration: none;
    /* text-decoration: overline; */
    /* text-decoration: line-through; */
}

.baidu:hover {
    color: green;
    text-decoration: underline;
}

.baidu:active {
    color: yellow;
}

.zimu {
    color: blue;
    font-size: 40px;
    text-indent: 100px;
    /* text-transform: uppercase; */
    /* text-transform: capitalize; */
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
}